* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main,
.aside {
  padding: 20px;
  border: #718596 1px solid;
  display: flex;
  flex-direction: column;
}

#content {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
}

.site-buttons {
  padding: 10px;
  margin: 20px 0;
  width: 200px;
  border-radius: 10px;
  border: none;
  background: steelblue;
  color: white;
  font-weight: bold;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

#add-project-div {
  background: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
}

.cancelButton {
  padding: 10px;
  margin: 20px 0;
  width: 200px;
  border-radius: 10px;
  border: none;
  background: red;
  color: white;
  font-weight: bold;
}

.submitButton {
  padding: 10px;
  margin: 20px 0;
  width: 200px;
  border-radius: 10px;
  border: none;
  background: green;
  color: white;
  font-weight: bold;
}

.form-div {
  display: flex;
  justify-content: space-between;
}

.project-item-div {
  display: flex;
}
